@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">one2Do</h1>
    <h3>Get it one2Done!</h3>
     <div class="container">
        <p>Make it personal</p>
        <p>with customized to-do lists and plan around your local weather.</p>
        <p>Get it <strong>one2Done</strong> the easier way!</p>
        <a href="#" class="btn">Get Started</a>
    
</div>
