@using Microsoft.AspNetCore.Identity


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}


 @if (SignInManager.IsSignedIn(User))
    {
         <p>Welcome, !</p>
            <p>Redirecting you to the user dashboard...</p>
            <script>window.location.href = '/User/Index';</script>
        
    }
    else
    {
        <div class="text-center">
            <h1>
                <img src="~/images/logo.png" alt="one2Do Logo" style="height: 150px; width: auto"/> 
            </h1>

            <h3>Get it one2Done!</h3>
            <div class="container">
                <p>Make it personal</p>
                <p>with customized to-do lists and plan around your local weather.</p>
                <p>Get it <strong>one2Done</strong> the easier way!</p>
                <br>
                <p>Get started!</p>    
            </div>
        </div>
    }

