@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>
         <img src="~/images/logo.png" alt="one2Do Logo" style="height: 150px; width: auto"/> 
    </h1>

    <h3>Get it one2Done!</h3>
     <div class="container">
        <p>Make it personal</p>
        <p>with customized to-do lists and plan around your local weather.</p>
        <p>Get it <strong>one2Done</strong> the easier way!</p>
        <br>
        <p>Get started!</p>
        <form method="get">
        <button asp-controller="Account" asp-action="Register" class="btn btn-info">Create an Account</button>
    </form>
    <br>
    <form method="get">
        <button asp-controller="Account" asp-action="Login" class="btn btn-info">Login</button>
    </form>
     @if (User.Identity.IsAuthenticated)
                        {
                            <br>
                        <p>Already logged in?</p>
                        <form method="get">
                        <button asp-controller="User" asp-action ="Index" class="btn btn-info">Go to Profile</button>
                        </form>
                        }
    
</div>
</div>
