@model one2Do.WeatherModel.SearchByCity


@{
     ViewData["Title"] = "Search by city";

}


<div class="container">
    <form method="post">
        <div class="container">
            <h2>Search By City Name</h2>
            <div>
                <input asp-for="CityName" class="form-control" placeholder="Enter city name..." />
                <button asp-controller = "Weather" asp-action="SearchByCity" class= "btn btn-outline-info">
                    Search
                </button>
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>
<br>
<div>
        <form method = "get">
                <button asp-controller="User" asp-action="index" class="btn btn-info"> Go Back to Profile</button>
            </form>   
</div>