@* @model one2Do.Models.ToDoModels.AddToDoListViewModel

<h1>Create Errands To-Do List</h1>

<form asp-controller="ErrandsToDoList" asp-action="Create" method="post">
    <div class="form-group">
        <label for="categoryName">Category Name:</label>
        <input type="text" id="categoryName" name="categoryName" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create To-Do List</button>
</form> *@
