@{
    ViewData["Title"] = "User";
}

<div class="text-center">
    <h1 class="display-4">@Model.Name's Profile</h1>
    <p>Streak Points: @Model.StreakPoints</a>.</p>
</div>

<div>
    
     <form method = "get">
                <button asp-controller="ListTemplate" asp-action="index" class="btn btn-primary"> Create New List</button>
            </form>   

            
    <form method = "get">
                <button asp-controller="ChooseTemplate" asp-action="index" class="btn btn-primary"> View Generic Templates</button>
            </form>   

             <form method = "get">
                <button asp-controller="user" asp-action="Todo" class="btn btn-primary"> Your Lists</button>
            </form>   

            
    <form method = "get">
                <button asp-controller="Weather" asp-action="searchByCity" class="btn btn-primary"> View Weather</button>
            </form>   
</div>
