@using Microsoft.AspNetCore.Identity
@* @inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager *@
@{
    ViewData["Title"] = "User";
}

<div class="text-center">
    <h1 class="display-4">@Model.FirstName @Model.LastName's Profile</h1>
    @if (User.IsInRole("Premium"))
    {
        <p>Streak Points: @Model.StreakPoints</p>
    }
</div>

<div>
    <p>@ViewData["Quote"]</p> <!-- Display the random quote here -->

    <form method="get">
        <button asp-controller="ToDoList" asp-action="Create" class="btn btn-primary">Create New List</button>
    </form>

    <form method="get">
        <button asp-controller="ToDoList" asp-action="Index" class="btn btn-primary">Your Lists</button>
    </form>

    <form method="get">
        <button asp-controller="ChooseTemplate" asp-action="Index" class="btn btn-primary">View Generic Templates</button>
    </form>

    <form method="get">
        <button asp-controller="Weather" asp-action="SearchByCity" class="btn btn-primary">View Weather</button>
    </form>

    <!-- Form for searching by category -->
    <form asp-controller="User" asp-action="SearchByCategory" method="post">
        <div class="form-group">
            <label for="category">Select Category:</label>
            <select name="category" class="form-control">
                <option value="">-- Select Category --</option>
                <option value="household">Household</option>
                <option value="errands">Errands</option>
                <option value="professional">Professional</option>
                <option value="personal">Personal</option>
            </select>
        </div>
        <br />
        <input type="submit" value="Search" class="btn btn-primary" />
    </form>
</div>
