@{
    ViewData["Title"] = "Todo";
}

<div class="text-center">
    <h1 class="display-4">Your stored todo lists are going to be here</h1>
    <p>TEST TEST TEST</a>.</p>
</div>
 <form method = "get">
                <button asp-controller="user" asp-action="index" class="btn btn-primary"> Back to Profile</button>
            </form>   

            
    <form method = "get">
                <button asp-controller="ListTemplate" asp-action="index" class="btn btn-primary"> Click to View </button>
            </form>   