@using one2Do.Models
@model ListTemplate
@{

}

<h1> Welcome to your list </h1>
<div>
    <p>
        This is a list
    </p>
</div>
 <form method = "get">
                <button asp-controller="user" asp-action="index" class="btn btn-primary"> Back to Profile</button>
            </form>   

            
    <form method = "get">
                <button asp-controller="user" asp-action="todo" class="btn btn-primary"> Save</button>
            </form>   